#addPostView.view.view-addPost.tab(data-page='addPost')
  include ../includes/navbar.jade

  -if(loginState)
    .pages.navbar-through.layout-white
      .page(data-page='addPost')
        .page-content
        
  -else
    .pages.navbar-through
    include ../includes/noLogin.jade
    
script.
  var loginState = !{loginState} | false;
    
