#mainView.view.view-main.tab(data-page='main')
  include ../includes/navbar.jade
  include ../includes/map.jade
  
  .pages.navbar-through
    .page(data-page='main')
      .page-content
        #map(style="width:100%;height:100%")
