//- script(src='/js/includes/inline-map.js')
script(type='text/javascript').
  function initMap() {
    var _latitude = 51.541216;
    var _longitude = -0.095678;

    $$.ajax({
      url: "/rest/post",
      type: "GET",
      dataType: 'json',
      success: function(json){
        //console.log(json);
        createHomepageGoogleMap(_latitude,_longitude,json);
      },
      error: function(xhr, ajaxOptions, thrownError){
        console.log(xhr.status);
        console.log(thrownError);
      }
    });
  }
script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', defer)
//- script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', defer, async)
//- script(src="/js/map/richmarker-compiled.js", defer, async)
