#registerFinish.page.navbar-fixed.no-toolbar.no-tabbar(data-page='403')
  .page-content
    .content-block.nologin
      #greeting
        h1 Welcome to TradeMuch!
          h2
            p Let's log in to start your TradeMuch trip  :)
            a.button.external.active(target="_top" href='/rest/auth/facebook')
              p Login
