head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='Balakadesign')
  meta(name='description', content='TradeMuch')
  title TradeMuch - Share everything around your nearby.
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='favicon.ico')
  link(rel='stylesheet', href='styles/mapCss/bootstrap-select.min.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/barnaul.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/phone.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/lightbox2/dist/css/lightbox.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/fotorama/fotorama.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/scrollyeah.min.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/custom.css', type='text/css')
  body(data-spy='scroll', data-target='.navbar-collapse', data-offset='76')
    section#header
      nav.navbar.navbar-barnaul
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#brn-navbar-collapse-1')
              //- span.batch.icon32 &#xF0AA;
              // Logo image
            a.navbar-brand(href='/public', style="margin-bottom:20px;")
              img(src='img/tramuLogo.png', alt='Barnaul-logo', style="height: 45px;")
          #brn-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right(style="padding-top: 25px;")
              li
                a(href='/public') Home
              li
                a(href='/app') Start
    
    section#brn-promo.iphone-cover-new(data-stellar-background-ratio='0.5', data-stellar-vertical-offset='-76')
      .container
        .row
          #description.col-md-6
            h1 Welcome to TradeMuch.
              p.lead(data-content='description') Share everything around your nearby locations.
              p 分享 - 交流 - 熱愛你的生活。
          .col-md-6.col-xs-12(style='position: relative;margin-top:-35px;')
            .iphone-gallery-wrapper-new
              .fotorama(data-nav='false',style="margin-top:-35px;")
                iframe.phoneIframe(src='/app')
            .iphone-new
              img.img-responsive(src='img/iPhone_bg2.png', alt='iphone gallery background',style="margin-top:-35px;")
              
    // atmosphere1
    section#promo1.hidden-xs(data-stellar-background-ratio='0.5', data-stellar-vertical-offset='-76')
      .container
        .row
          #promoDesc.col-md-6
            h1 以你最習慣的方式，
            h1 重新探索你的生活圈。
              p.lead(data-content='description') 交流，是人類天生的技藝。分享你的物品，或是提供服務，尋找生活圈的好人好事。
              p
                a.start(href="/app") 再次探險你的週遭 >
                
    // atmosphere2
    section#promo2.hidden-xs(data-stellar-background-ratio='0.5', data-stellar-vertical-offset='-76')
      .container
        .row
          #promoDesc.col-md-6
            h1 愛書人的寶庫，
            h1 鑑賞家的天堂。
              p.lead(data-content='description') 我們知道你有許多出人意表、充滿故事的良品想與大家分享，也知道你一定熱愛在詩意盎然的巷弄中尋找下一段精彩的交流。
              p
                a.start(href="/app") 開始這段分享之旅 >
                
    // atmosphere3
    section#promo3.hidden-xs(data-stellar-background-ratio='0.5', data-stellar-vertical-offset='-76')
      .container
        .row
          #promoDesc.col-md-6
            h1 立刻開始你的尋物探險！
              p.lead(data-content='description') 珍惜，是人類文明最珍貴的體現。看看你的週遭，也許有你意想不到的驚喜；分享你無價之寶，讓它能夠在別處重獲新生。
              p
               a.start(href="/app") 立刻尋找屬於你的好物 >
          
        
          
    section#brn-features-app
      .container
        // Section header
        header
          .row
            .col-xs-12
              // Don't forget to use span tag for center lines
              h2.stripe
               span 產品特色
            // /col-xs-12
          // /row
        // Section header end
        .row
          .col-md-18
            // Feature item
            .col-md-3.col-xs-6.text-center.feature-item
              span.batch.icon48 
               img(src='img/fbLogin.png', alt='fbLogin', style={height: '100px'})
              h5 Fb 登入
              p Facebook 一鍵登入，免註冊
            // Feature item end
            // Feature item
            .col-md-3.col-xs-6.text-center.feature-item
              span.batch.icon48 
               img(src='img/fastDispatch.png', alt='fastDispatch', style={height: '100px'})
              h5 快速發文
              p 3步驟完成商品發文
            // Feature item end
            // Feature item
            .col-md-3.col-xs-6.text-center.feature-item
              span.batch.icon48 
               img(src='img/localization.png', alt='localization', style={height: '100px'})
              h5 在地化深度結合
              p 鄰近地區文化與你生活做結合
            // Feature item end
            // Feature item
            .col-md-3.col-xs-6.text-center.feature-item
              span.batch.icon48 
               img(src='img/keyword.png', alt='keyword', style={height: '100px'})
              h5 熱門關鍵字
              p 建立熱門搜尋，了解熱門需求
            // Feature item end
          // /col-sm-12
        // /row
      // /container  
      
    section#brn-whowe
    .container
      // Section header
      header
        .row
          .col-xs-12
            // Don't forget to use span tag for center lines
            h2.stripe
              span 	操作說明
          // /col-xs-12
        // /row
      // Section header end
      .row
        .col-sm-4.col-sm-offset-1
          // Left Side Image
          img.img-responsive(src='img/use.png', alt='use1')
          img.img-find.sneaker(src='img/sneakers.png', alt='sneaker')
        // /col-sm-4.col-sm-offset-1
        .col-sm-6.col-sm-offset-1
         #text-content
          // Right Side Info
          h3.color-primary Connet everyone and everything
          p TradeMuch 把人們連繫在一起，
          p 尋找物品，
          p 交換東西，
          p 詢問問題，
          p TradeMuch 跟你最麻吉！
          a.btn.btn-default(href='/learnMore') Learn more
        // /col-sm-6.col-sm-offset-1
      // /row
    // /container

    footer                    
      .container
       .row
         // Social Media icons
         .col-sm-6.text-center
           #rightsDescription
              a.socialMediaLink(href='/termService') 服務條款
                a  | 
              a.socialMediaLink(href='/privacyPolicy') 隱私權政策
                a  | 
              a.socialMediaLink(href='/specification') 使用規範
         // Copyright             
         .col-sm-6.text-center.Information
           p © TradeMuch 2015
              
    script(src='styles/landing/css/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='styles/landing/css/bootstrap/dist/js/bootstrap.min.js')
    script(src='styles/landing/css/fotorama/fotorama.js')
    script(src='styles/landing/css/lightbox2/dist/js/lightbox.min.js', type='text/javascript')
    script(src='js/scrollyeah.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery.stellar/jquery.stellar.min.js', type='text/javascript')
    script(src='styles/landing/css/fitvids/jquery.fitvids.js', type='text/javascript')
    script(src='styles/landing/css/jquery-validation/dist/jquery.validate.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery-loadTemplate/jquery.loadTemplate-1.5.0.min.js', type='text/javascript')
