head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='Balakadesign')
  meta(name='description', content='TradeMuch')
  title TradeMuch
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='ico/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='ico/favicon.ico')
  link(rel='stylesheet', href='styles/mapCss/bootstrap-select.min.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/barnaul.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/phone.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/lightbox2/dist/css/lightbox.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/fotorama/fotorama.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/scrollyeah.min.css', type='text/css')
  body(data-spy='scroll', data-target='.navbar-collapse', data-offset='76')
    section#header
      nav.navbar.navbar-barnaul
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#brn-navbar-collapse-1')
              //- span.batch.icon32 &#xF0AA;
              // Logo image
            a.navbar-brand(href='/public')
              img(src='img/tramuLogo.png', alt='Barnaul-logo', style="height: 45px;")
          #brn-navbar-collapse-1.collapse.navbar-collapse
              <ul class="nav navbar-nav">
              </ul>
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/public') Home
              li
                a(href='/app') Start
    section#brn-whowe
    .container
      // Section header
      header
        .row
          .col-100.term-h2
            // Don't forget to use span tag for center lines
            h2
              span 隱私權政策
          // /col-xs-12
        // /row
      // Section header end
      .row
        .col-100
         #text-content.PrivacyPolicy-content
          // Right Side Info
        p.1.引言
        p
          | 1.1 歡迎使用由樂購 TradeMuch 有限公司、其關係企業及子公司(個別及統稱「 TradeMuch 」、「我們」或「我們的」)經營的 TradeMuch 平台。 TradeMuch 認真看待其依據適用之隱私權及個人資料保護相關法律及規範 (下稱「隱私權法」) 下的責任，並致力於尊重 TradeMuch 網站 (下稱「本網站」) 所有使用者的隱私權和關切點
          | (我們將本網站以及我們在本網站中提供的服務統稱為「本服務」)。我們瞭解您委託給我們的個人資料極為重要，並認為妥善管理、保護及處理您的個人資料是我們的責任。此隱私權政策 (下稱「隱私權政策」或「政策」)
          | 旨在協助您瞭解我們目前和未來會如何收集、使用、揭露及/或處理您提供給我們及/或我們所擁有和您有關的個人資料，以及協助您在向我們提供任何個人資料之前作出明智的決定。請仔細閱讀本隱私權政策。如果您對此資訊或是我們的隱私權作法有任何問題，請參閱此隱私權政策最後、標題為「問題、疑慮或投訴？聯絡我們」一節。
        p
          | 1.2 「個人資料」是指有關個人不論真實與否的資料，該個人可透過該資料，或透過該資料與其他組織持有或可能有權限存取資料，予以識別。個人資料常見的例子包括姓名、身分證號碼和聯絡資訊。
        p
          | 1.3
          | 若您使用本服務、向我們註冊帳戶、造訪我們的網站或存取本服務，即表示您知悉並同意接受本隱私權政策概述之作法、要求和/或政策，並特此同意我們收集、使用、揭露和/或處理此處所述之個人資料。若您不同意您的個人資料依此隱私權政策所述之方式進行處理，請勿使用我們的服務或存取本本網站。如果我們變更隱私權政策，我們會在網站上公佈這些變更或是修改過的隱私權政策。我們保留隨時修改本隱私權政策的權利。
        p.2.TradeMuch 會在何時收集個人資料？
        p
          | 2.1 我們會/可能會在下列時候收集您的個人資料：
          p
            | (a) 當您註冊及/或使用我們的本服務或本網站，或是向我們開立帳戶時；
          p
            | (b) 當您透過線上或實體表單方式提交表單，包括但不限於申請表或是與我們的產品或服務相關的其他表單時；
          p
            | (c) 當您簽定協議，或是針對您與我們的互動提供其他文件或資訊，或是當您使用我們的產品和服務時；
          p
            | (d) 當您透過電話 (可能會錄音)、信件、傳真、面對面會議、社交媒體平台和電子郵件等方式與我們互動時；
          p
            | (e) 當您使用我們的電子服務，或是透過我們的應用程式或使用我們網站上的服務與我們互動時。這包括但不限於透過 Cookie (可能會在您與我們的應用程式或網站互動時部署)；
          p
            | (f) 當您透過我們的本服務進行交易時；
          p
            | (g) 當您提供意見或投訴給我們時；
          p
            | (h) 當您註冊參加競賽時；或是
          p
            | (i) 當您基於任何原因提交個人資料給我們時。
        p
          | 上述情形並非包含全部情形，僅列出可能會收集您個人資料的一些常見實例。
        p
          | 2.2 當您造訪、使用或是與我們的行動應用程式或本網站互動時，我們可能會使用各種技術，以自動或被動的方式收集特定資訊，該技術可能會被下載至您的裝置，而且可能會設定或修改您裝置的設定。我們所收集的資訊可能包括但不限於：您的網際網路通訊協定 (IP)
          | 位址、電腦/行動裝置作業系統和瀏覽器類型、行動裝置類型、行動裝置的特性、行動裝置的唯一裝置識別碼 (UDID) 或行動設備識別碼 (MEID)、參考網站的位址 (如果有)，以及您在我們的網站和行動應用程式上所造訪的網頁及造訪時間。我們只會針對以下定義的「目的」去收集、使用、揭露及/或處理該資訊。
        p
          | 2.3 我們的行動應用程式可能會使用 GPS、Wi-Fi
          | 等技術收集您行動裝置位置的精確資訊。我們會針對一或多項「目的」以收集、使用、揭露及/或處理該資訊，包括但不限於：您所要求以位置為基礎的服務、根據您的位置傳遞相關內容給您、透過我們的行動應用程式所包含的服務，讓您與其他使用者分享您的位置。您可以透過大部分行動裝置的裝置設定，撤銷我們獲取您位置資訊的權限。如果您對停用行動裝置位置服務的方式有任何疑問，請洽詢行動裝置服務供應商或裝置製造商。
        p.3.TradeMuch 會收集哪些個人資料？
        p
          | 3.1 TradeMuch 會收集的個人資料包括但不限於：
        p
          | • 姓名；
        p
          | • 電子郵件地址；
        p
          | • 出生日期；
        p
          | • 帳單地址；
        p
          | • 銀行帳戶和付款資訊；
        p
          | • 電話號碼；
        p
          | • 性別；
        p
          | • 當使用者註冊使用我們的本服務或網站及使用者使用本服務或網站時所提供有關使用者的其他任何資訊，以及使用者如何使用我們的本服務或網站的相關資訊；以及
        p
          | • 彙總使用者互動內容的相關資訊。
        p
          | 3.2
          | 若您不希望我們收集前述資訊/個人資料，您可以隨時透過書面方式通知我們的「資料保護主管」以選擇退出。您可以在下方標題是「如何退出、移除、要求存取或修改您提供給我們的資訊？」的小節中，找到選擇退出的進一步資訊。不過請注意，若您不允許我們收集您的個人資料或是不同意我們收集、使用或處理您的個人資料，您對本服務的使用可能會受到影響。例如，不讓我們收集有關您的位置資訊，可能會造成以位置為基礎的功能遭到停用。

        p.4.設定帳戶
        p
          | 若要使用本服務的特定功能，您必須建立使用者帳戶，這會要求您提交特定個人資料。當您註冊和建立帳戶時，我們會要求您提供您的姓名、電子郵件地址以及您選擇的使用者名稱。我們也會要求和您本身有關的特定資訊，例如您的電話號碼、電子郵件地址、送貨地址、附照片的身分證明、銀行帳戶詳細資料、年齡、出生日期、性別及興趣。您將在帳戶啟動後選擇使用者名稱和密碼。系統會使用您的使用者名稱和密碼，因此您可以安全地存取及維護您的帳戶。

        p.5.檢視網頁
        p
          | 如同對大多數的網站一樣，您的電腦會傳送可能包含您個人資料的資訊，而網頁伺服器則會在您瀏覽我們的本網站時記錄該資訊。這通常包括但不限於：您電腦的 IP 位址、作業系統、瀏覽器名稱/版本、參考網頁、所要求的網頁、日期/時間，有時也會利用Cookie(可使用瀏覽器喜好設定予以停用)
          | 協助網站記住您前次的造訪資訊。當您登入時，這項資訊會與您的個人帳戶建立關聯。該資訊也會納入匿名的統計資料中，以協助我們瞭解訪客使用我們網站的情形。
        p.6.COOKIE
        p
          | 6.1
          | 我們有時可能會執行「Cookie」或其他功能，讓我們或第三方能夠收集或分享資訊，進而協助我們改進所提供的本網站和本服務，或是協助我們提供新的服務及功能。「Cookie」是我們傳送至您的電腦或行動裝置的識別碼，可以讓我們識別您的電腦或裝置，同時告訴我們本服務或網站的使用或造訪方式及時間、造訪人次，並追蹤我們網站中的活動。我們可能會將
          | Cookie 資訊與個人資料連結起來。Cookie 也會連結至您選擇購買之商品及您有檢視之網頁的相關資訊。這項資訊會用於追蹤您的購物車等用途。Cookie 也用於傳遞與您興趣相關的特定內容，以及監控網站的使用情形。
        p
          | 6.2 若您要拒絕 Cookie 的使用，請選擇瀏覽器上的適當設定。不過請注意，如果您這麼做，可能無法使用本網站或本服務的完整功能。

        p.7.檢視及下載內容和廣告
        p
          | 當您在我們的本網站上或是透過本服務查看內容、廣告及存取其他軟體時，系統傳送給我們的資訊，與您瀏覽網頁時所傳送的資訊大部分相同 (包括但不限於 IP 位址、作業系統等)；然而不同於網頁檢視的是，您的電腦會向我們傳送檢視內容和廣告的相關資訊，及/或本服務和網站所安裝之軟體的相關資訊及時間。
        p.8.社群與支援
        p
          | 8.1 我們透過電子郵件、簡訊和意見表提供客戶服務支援。為提供客戶支援，我們會要求您提供電子郵件地址和行動電話號碼。我們從客戶支援要求所收到的資訊 (包括但不限於電子郵件) 只會用於客戶支援服務，我們不會將該資訊傳送給第三方，也不會與第三方分享。
        p
          | 8.2 您也可以在我們的社群論壇發問或是回答其他使用者的問題。我們的論壇和傳訊服務可以讓您參與我們的社群；為達此目的，我們會保留您的使用者 ID、聯絡人名單和狀態訊息等資訊。此外，這些服務及未來會推出的類似服務可能會要求我們保留您的使用者 ID 和密碼資訊。

        p.9.問卷調查
        p
          | 我們有時可能會透過問卷調查要求使用者提供資訊。是否參與這些問卷調查純屬自願性質，因此您可以選擇是否向我們揭露您的資訊。所要求的資訊可能包含但不限於聯絡資訊 (例如您的電子郵件地址) 以及人口統計資訊
          | (例如興趣或年齡層)。調查資訊的目的在於監控或改進本服務的使用情形和滿意度，不會傳送給第三方，除了協助我們管理問卷調查或是對問卷調查採取行動的承包商以外。
        p.10.我們如何使用您提供給我們的資訊？
        p
          | 10.1 我們可能會針對下列一或多個目的去收集、使用、揭露和/或處理您的個人資料：
          p
            | (a) 考量及/或處理您向我們提出的申請/與我們進行的交易，或是您透過本服務與第三方進行的交易或通訊；
          p
            | (b) 管理、操作、提供及/或處理您對我們的本服務和網站的使用及/或存取、您與我們的關係，以及您向我們開立的使用者帳戶；
          p
            | (c) 管理、操作、處理及提供本服務與促進本服務的提供，包括但不限於記住您的喜好設定；
          p
            | (d) 透過本服務量身打造您的體驗：根據您的興趣和喜好顯示內容、提供更快速的方法，讓您存取帳戶及提交資訊給我們，以及在必要時允許我們與您聯絡；
          p
            | (e) 回應、處理、處理或完成交易及/或滿足您對特定產品及服務的要求，以及向您告知服務問題和不尋常的帳戶操作；
          p
            | (f) 執行我們的「服務條款」或任何適用的使用者授權合約；
          p
            | (g) 保護人身安全和權利、財產或其他人的安全；
          p
            | (h) 識別及/或驗證；
          p
            | (i) 維護及管理偶爾需要進行的軟體更新及/或其他更新及支援，以確保本服務能順暢運作；
          p
            | (j) 處理或促進客戶服務、執行您的指示、處理或回應由您或代表您 (或聲稱由您或代表您) 提出的一切詢問；
          p
            | (k)
            | 基於執行及/或管理您與我們的關係，或是您的使用本服務之目的，透過語音通話、文字簡訊及/或傳真訊息、電子郵件及/或郵寄或其他方式與您聯繫或溝通，例如但不限於向您傳達與本服務有關的管理資訊。您知悉並同意我們得透過郵寄信件、文件和通知的方式與您進行上述通訊，遞送過程中可能會在信封/郵件包裹外部揭露您的特定個人資料；
          p
            | (l) 當另一名使用者在本網站上向您傳送私訊或是張貼要給您的意見時通知您；
          p
            | (m) 進行研究、分析和開發活動 (包括但不限於資料分析、問卷調查、產品和服務開發及/或剖析)，以分析您對本服務的使用情形、改進我們的本服務或產品及/或加強您的客戶體驗；
          p
            | (n) 允許進行稽核及調查以確認目標受眾的規模和組成，並瞭解他們對本服務的體驗；
          p
            | (o) 在您提供事先同意下且基於行銷或這方面的目的，透過各種通訊模式 ，如郵寄信件、電子郵件、以位置為基礎的服務或其他模式， 向您寄送有關 TradeMuch (及/或其關係企業或關聯公司) 可能正在銷售、行銷或促銷之產品及/或服務 (包括但不限於可能與 TradeMuch 合作或聯合提供之第三方的產品及/或服務)
            | 的行銷和促銷資訊及資料，無論該產品或服務目前已存在或是未來才會建立。若您是在新加坡，當我們要用語音通話、簡訊/多媒體訊息或傳真至您新加坡傳真號碼等方式向您傳送行銷或促銷資訊時，我們會依據新加坡的隱私權法對於使用這類通訊模式傳送行銷資訊的相關規定，或是您明確同意我們這麼做，否則我們不會透過上述方式，傳送行銷或促銷資訊給您；
          p
            | (p) 回應法律程序或是遵守相關管轄地之任何適用法律、政府或監管要求，包括但不限於依據對 TradeMuch 或是其關聯公司或關係企業具有約束力之任何法律規定，符合揭露之要求；
          p
            | (q) 針對內部和法定報告及/或記錄保存要求，產生統計資料和研究結果；
          p
            | (r) 根據法律或法規義務或是我們的風險管理程序 (依據法律規定或是我方所實施者)，執行盡職調查或其他過濾行動 (包括但不限於背景調查)；
          p
            | (s) 稽核我們的本服務或 TradeMuch 的業務；
          p
            | (t) 防止或調查詐欺、非法活動、疏忽或不當行為，以瞭解這些行為是否與您對本服務的使用有關、是否因為您與我們的關係而產生，以及是否有前述行為的嫌疑；
          p
            | (u) 儲存、託管、備份 (無論是為了災難復原或其他目的) 您的個人資料，不管是在您所在管轄地內或外；
          p
            | (v)
            | 處理及/或促進企業資產交易或可能進行的企業資產交易，其中該交易的參與者包含 TradeMuch，或是僅包含 TradeMuch 的關聯公司或關係企業，或是包含 TradeMuch 及/或 TradeMuch 任一家或多家關聯公司或或關係企業，而且可能還有其他第三方組織也參與該交易。「企業資產交易」是指組織、組織的一部分或組織之任何業務或資產的收購、出售、租賃、整合、合併或其他任何的收購、處置或融資行為；以/或
          p
            | (w) 我們在取得您同意的當時，向您告知的任何其他目的。
        p
          | (以上統稱「
          | 目的
          | 」)。
        p
          | 10.2 由於我們將會/可能收集、使用、揭露或處理您個人資料的目的取決於當時的情況，該目的可能未出現在上述項目中。不過，我們會在取得您同意的當時，向您告知該其他目的，除非隱私權法允許我們在未取得您同意的情況下即可處理適用的資料。
        p.11.分享服務資訊
        p
          | 我們的本服務可以讓使用者在絕大部分 TradeMuch 未參與的情況下，彼此分享個人資訊以完成交易。在典型的交易中，使用者可以存取彼此的姓名、使用者 ID、電子郵件地址及其他聯絡和郵遞資訊。我們的服務條款要求擁有另一名使用者之個人資料的使用者(下稱「接收方」) 必須 (i) 遵守所有適用的隱私權法；(ii)
          | 允許該其他使用者(下稱「揭露方」) 將自己從接收方的資料庫移除；以及 (iii) 允許揭露方檢閱接收方收集了哪些與他們有關的資訊。
        p.12.TradeMuch 如何保護客戶資訊？
        p
          | 我們實施各式各樣的安全措施，以確保您的個人資料在我們的系統上安全無虞。使用者個人資料包含在安全網路之後，只有具有該系統之特殊存取權的有限員工可以存取。我們會按照隱私權法及/或其他適用法律保留個人資料。也就是說，在我們合理認為 (i) 保留該個人資料不再符合收集個人資料之目的；以及 (ii)
          | 不再需要針對任何法律或業務目的保留個人資料時，我們會立即銷毀您的個人資料，或是進行匿名化處理。若您停止使用本網站或是您使用本網站及/或本服務的權限遭到終止，我們會繼續根據此隱私權政策及隱私權法所規定的義務，加以儲存、使用及/或揭露您的個人資料。根據適用法律，我們得於未事先通知您的情況下，安全處置您的個人資料。
        p.13.TradeMuch 是否會向第三人揭露其向訪客收集的資訊？
        p
          | 13.1 在開展業務時，我們將會/可能需要針對上述一或多個目的向第三方服務供應商、代理人及/或我們的關係企業或關聯公司及/或其他第三方 (無論是否設址於新加坡)
          | 揭露您的個人資料。該第三方服務供應商、代理人和/或關係企業或關聯公司及/或其他第三方可能會針對上述一或多個目的，代表我們或以其他方式處理您的個人資料。該第三方包括但不限於：
          p
            | (a) 我們的子公司、關係企業及關聯公司；
          p
            | (b) 承包商、代理人、服務供應商以及其他我們用以支援我們的業務的第三方。這些包括但不限於向我們提供管理或其他服務的單位，如郵寄公司、電信公司、資訊技術公司和資料中心；
          p
            | (c) 整合、剝奪、改組、重整、解散或其他銷售或轉移 (無論是持續經營的形式，或是破產、清算或類似程序的一部分) TradeMuch 部分或全部資產的買方或其他繼任者，其中由 TradeMuch 所持有、有關本服務使用者的個人資料也在轉移的資產中；或是 TradeMuch 或其任何關係企業或關聯公司所參與之企業資產交易的對手；以及
          p
            | (d) 我們針對一或多個目的而向其揭露個人資料的第三方，該第三方可能會針對一或多個目的反過來收集和處理您的個人資料。
        p
          | 13.2 這可能需要與廣告和規劃供應商分享和使用者及其對本服務使用情形相關的統計及人口統計資訊。這可能不包括可用來明確識別您的身分或發現與您有關之個人資訊的資料。
        p
          | 13.3 為避免疑慮，在隱私權法或其他適用法律允許組織 ，像是我們， 在未取得您的同意即可收集、使用或揭露您個人資料的情況下，由該等法律授予的該權限應繼續適用。
        p
          | 13.4
          | 在我方沒有責任的情況下，第三方可能會非法攔截或存取傳送至網站或是網站所包含的個人資料，技術可能會故障或無法如預期運作，或是有人可能會存取、濫用或誤用資訊。不過，我們會依照隱私權法的規定，部署合理的安全措施以保護您的個人資料，但必然無法保證絕對的安全，包括但不限於在我方沒有責任的情況下，因不滿份子惡意和精密的駭客攻擊而造成未授權揭露等狀況。
        p.14.關於兒童的資訊
        p
          | 本服務不適用於 10 歲以下的兒童。我們不會故意收集或保留 10 歲以下兒童的任何個人資料或無法識別個人身分的資訊，而且本網站或其他本服務的所有部分都不是以 10 歲以下兒童為對象。我們會關閉由該兒童專用的一切帳戶，並且會移除及/或刪除我們認為是由 10 歲以下兒童提交的一切個人資料。
        p.15.由第三方收集的資訊
        p
          | 15.1 本網站使用由 Google, Inc. (下稱「Google」) 提供的網頁分析服務 - Google Analytics。Google Analytics 使用 Cookie ，在您電腦上的文字檔案， 協助網站分析使用者使用本網站的情形。由 Cookie 產生有關您的網站使用情形的資訊 (包括您的
          | IP 位址) 會傳送至 Google，並由 Google 存放在位於美國的伺服器。Google 會使用這項資訊評估您的網站使用情形、為網站經營者編製網站活動報告，並提供與網站活動和網際網路使用情形相關的其他服務。Google 可能也會在法律要求下將這項資訊傳送給第三方，或是將該資訊傳送給代表 Google
          | 處理資訊的第三方。Google 不會將您的 IP 位址與 Google 所持有的其他資料建立關聯。
        p
          | 15.2 我們和第三方偶爾可能會在本服務或透過本服務提供軟體應用程式下載供您使用。這些應用程式可能會個別存取並允許第三方檢視您的身分識別資訊 (如您的姓名、使用者 ID、電腦 IP 位址或其他資訊)，例如您之前所安裝或是由第三方軟體應用程式或網站為您安裝的
          | Cookie。此外，這些應用程式可能會要求您直接向第三方提供其他資訊。 TradeMuch 並不擁有或控制經由這些應用程式所提供的第三方產品或服務。我們建議您詳閱這些第三方在其網站或其他地方公佈的條款與其他政策。
        p
          p.16.有關安全性和第三方網站的免責聲明
        p
          | 16.1
          | 我們不保證您在第三方網站上提供之個人資料及/或其他資訊的安全性。為維護我們所擁有或控制與您有關之個人資料的安全性，我們確實實施了各種安全措施。您的個人資料包含在安全網路之後，只有具有該系統之特殊存取權且必須對個人資料保密的有限人員可以存取。當您下訂單或存取個人資料時，我們會提供安全伺服器以供使用。您提供的所有個人資料或敏感資訊都會以加密方式存放在我們的資料庫中，只有上述人員可以存取。
        p
          | 16.2
          | 為嘗試提供更高的價值，我們可能會選擇將各種第三方網站連結至本網站，或是將第三方網站放在本網站框架中。我們可能也會參與聯合品牌和其他關係，以便為訪客提供電子商務及其他服務與功能。所連結的網站有個別和獨立的隱私權政策及安全措施。即使該第三方與我們有關，我們對於這些連結網站也沒有控制權，而且每一個連結網站都有不受我們約束的個別隱私權和資料收集作法。我們可能不會收到由聯合品牌夥伴或第三方網站
          | (即使是在我們的本網站上或透過我們的本網站提供) 所收集的資料。
        p
          | 16.3 因此，我們對於這些連結網站的內容、安全措施 (或缺乏該安全措施) 及活動，沒有任何責任或義務。這些連結網站只是為了方便起見而提供，因此當您存取這些網站時，應自行承擔風險。儘管如此，我們仍設法保護本網站及置於各本網站之連結的完整性，因此歡迎提出與這些連結網站相關的意見
          | (包括但不限於特定連結無法運作的狀況)。
        p.17.TradeMuch 是否會將您的資訊傳送至國外？ 
        p
          | 您的個人資料及/或資訊可能會傳送至您的國家/地區以外的地方，並在該地保存或處理。在大多數情況下，您的個人資料會在新加坡處理，我們的伺服器即設立於此，而我們的中央資料庫也在此運作。TradeMuch 只會在符合隱私權法的情況下將您的資訊傳送至國外。
        p
          strong 18.
          strong 如何退出、移除、要求存取或修改您提供給我們的資訊？
          strong
        p
          | 18.1 
          em
            u 退出並撤回同意
        p
          | 18.1.1 若您要修改電子郵件訂閱，請傳送電子郵件至下列地址給我們的「個人資料保護主管」。請注意，由於電子郵件受到生產排程控制，您可能仍會收到已經產生的電子郵件。
        p
          | 18.1.2 若您不再同意我們收集、使用及/或揭露由我們擁有或控制之和您有關的個人資料，請傳送電子郵件至下方 19.2 節所列地址，給我們的「個人資料保護主管」。
        p
          | 18.1.3 在我們取得您清楚的撤回指示並驗證您的身分之後，我們將處理您的撤回同意要求，從此以後將不再以您於要求中所述方式去收集、使用及/或揭露您的個人資料。如果我們無法驗證您的身分或瞭解您的指示，我們將與您聯絡以瞭解您的要求。
        p
          | 18.1.4 不過，若您撤回同意，可能因此導致特定法律後果。在這方面，視您不再同意我們處理您的個人資料的程度而定，這可能表示我們將無法繼續向您提供本服務、我們可能需要終止您目前與我們的關係及/或合約等；視情況而定，而我們會通知您最終結果。
        p
          | 18.2 
          em
            u 要求存取和/或修正個人資料
        p
          | 18.2.1
          | 若您有我們的帳戶，您可以透過本網站的「帳戶設定」頁面，親自存取及/或修正目前由我們擁有或控制的個人資料。若您沒有我們的帳戶，您可以提交書面要求給我們，要求存取及/或修正目前由我們擁有或控制的個人資料。您必須提供足夠的資訊，供我們查明您的身分和要求的性質，以便能處理您的要求。因此，請傳送電子郵件至下方 19.2
          | 節所列地址給我們的「個人資料保護主管」，以提交您的書面要求。
        p
          | 18.2.2 若您要求存取個人資料，我們會在取得您所提供、足以處理該要求的充分資訊後，設法在 30 天 (若您是馬來西亞居民，則在 21 天) 內將相關的個人資料提供給您。如果我們不能在前述的 30 天 (若您是馬來西亞居民，則是 21 天)
          | 內對您做出回應，我們會通知您最快能將您所要求的資訊提供給您的時間。請注意，隱私權法可能會將特定類型的個人資料排除於您的存取要求之外。
        p
          | 18.2.3 若您要求修正個人資料，我們會在取得您所提供、足以處理該要求的充分資訊後：
        .blockquote
          p
            | (a) 於 30 天 (若您是馬來西亞居民，則是 21 天) 內修正您的個人資料。如果我們無法在前述期間完成這項作業，我們會通知您最快可進行修正的時間。請注意，隱私權法可能會將特定類型的個人資料排除於您的修正要求之外，此外可能也會規定在特定情況下，儘管您提出要求，我們仍無須進行修正；以及
          p
            | (b) 我們會向修正日期前一年內曾予以揭露個人資料的其他組織傳送修正過的個人資料，除非該其他組織基於法律或業務目的，不需要修正過的個人資料。
        p
          | 18.2.4 儘管有上方 (b) 款的規定，我們還是可以在您的要求下，只將修正過的個人資料傳送給修正日期前一年內曾予以揭露個人資料的特定組織。
        p
          | 18.2.5 此外，我們將會/可能向您收取合理的費用，以處理您存取個人資料的要求。如果我們選擇收費，我們會以書面方式向您提供估價。請注意，除非您同意付費，否則我們無須回應或處理您的存取要求。
        p
          | 18.2.6 依據載列於隱私權法的規定，我們得保留拒絕修正您的個人資料的權利；該隱私權法要求及/或授權組織在既定情況下，得拒絕修正個人資料。
        p
          strong
        p.19. 問題、疑慮或投訴？聯絡我們
        p
          | 19.1 如果您對於我們的隱私權作法或是您與本服務的交易有任何問題或疑慮，請逕行聯絡：
          a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
        p
          | 19.2 如果您對於我們處理您個人資料的方式，或是我們遵守隱私權法的情形有任何投訴或不滿，歡迎與我們聯絡，以提出您的投訴或不滿。
        p
          | 請透過電子郵件與我們聯絡，以提出您的投訴或不滿。
        p
          | 電子郵件：
          a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
          | ，並請註明收件人是「個人資料保護主管」。
        p
          | 請將所有法律通知傳送至 
          a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
          | ，並註明收件人是「法務長」。
        p
          | 19.3 無論您是透過電子郵件或信函提出投訴，都請在主旨標題指出這是隱私權法投訴，以利我們將您的電子郵件或信函交由組織中的相關工作人員處理，好加速投訴的處理速度。例如，您可以插入隱私權投訴的主旨標題。
        p
          | 我們一定會以公平的方式，儘快處理您的投訴或不滿。
        p
          strong
        p.20. 條款與條件
        p
          | 另外也請閱讀其他相關政策，以及服務條款中有關本網站和本服務的使用、免責聲明及責任限制的相關規定。
 
     
    footer                    
      .container
       .row
         // Social Media icons
         .col-sm-6.text-center
           #rightsDescription
              a.socialMediaLink(href='/termService') 服務條款
                a  | 
              a.socialMediaLink(href='/privacyPolicy') 隱私權政策
                a  | 
              a.socialMediaLink(href='/specification') 使用規範
         // Copyright             
         .col-sm-6.text-centers.Information
           p © TradeMuch 2015
              
    script(src='styles/landing/css/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='styles/landing/css/bootstrap/dist/js/bootstrap.min.js')
    script(src='styles/landing/css/fotorama/fotorama.js')
    script(src='styles/landing/css/lightbox2/dist/js/lightbox.min.js', type='text/javascript')
    script(src='js/scrollyeah.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery.stellar/jquery.stellar.min.js', type='text/javascript')
    script(src='styles/landing/css/fitvids/jquery.fitvids.js', type='text/javascript')
    script(src='styles/landing/css/jquery-validation/dist/jquery.validate.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery-loadTemplate/jquery.loadTemplate-1.5.0.min.js', type='text/javascript')
