head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='Balakadesign')
  meta(name='description', content='TradeMuch')
  title TradeMuch
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='ico/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='ico/favicon.ico')
  link(rel='stylesheet', href='styles/mapCss/bootstrap-select.min.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/barnaul.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/phone.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/lightbox2/dist/css/lightbox.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/fotorama/fotorama.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/scrollyeah.min.css', type='text/css')
  body(data-spy='scroll', data-target='.navbar-collapse', data-offset='76')
    section#header
      nav.navbar.navbar-barnaul
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#brn-navbar-collapse-1')
              //- span.batch.icon32 &#xF0AA;
              // Logo image
            a.navbar-brand(href='/public')
              img(src='img/tramuLogo.png', alt='Barnaul-logo', style="height: 45px;")
          #brn-navbar-collapse-1.collapse.navbar-collapse
              <ul class="nav navbar-nav">
              </ul>
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/public') Home
              li
                a(href='/app') Start
                
        .content.container
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .pageTitle(style='text-align:center') 使用規範
            .mainBody
              .section(style='margin-top: 50px;')
                p.auction
                  | 為了確保在 TradeMuch 內能有個良好的環境，提供給所有人一個好玩又友善的行動 APP 我們為買賣雙方準備了"你應該怎麼做"以及"你不應該這樣做"的簡單說明，讓你在使用 TradeMuch APP 時能很快上手！開始使用 TradeMuch ，代表你已同意且會遵守了我們的服務條款，在大家的努力下，TradeMuch 會致力於提供更完整、更安全的社群環境。
                h3(style='text-align:center') 你應該怎麼做
                hr
                ol.commodity
                  li
                     p
                      | 賣商品，不是刊登廣告
                      br
                      | TradeMuch 是買賣雙方線上交易的APP，而非一個刊登廣告平台。因此，所有的上架的商品都是你希望透過 TradeMuch 做販售的。
                      ul
                        li
                           | 違反此條規定的行為，例如有：
                          ul
                            li 將你的商品直接連結到別的網站。
                            li
                               | 商品描述、照片及商品名稱含有其他平台的聯絡方式(例：Whatsapp/Facebook)，意圖告訴買家可以透過別的方式購買。其實買賣雙方的溝通，透過 TradeMuch 的聊聊功能就很簡單方便了！
                  li
                     p
                       | 擦亮你的店面
                       br
                       | 好的照片是成交的開始，沒有買家會對難看的照片有興趣。拍照時再多花點巧思一下就可以讓你的商品看起來又潮又有型。請確認拍照時你的商品是有足夠的光源、簡潔的背景，和一個最棒的拍照角度。別忘了，你的商品記得選擇正確的品類。
                  li
                     p
                       | 尊重每個人
                       br
                       | 我們希望 TradeMuch 提供安全的購物環境，讓所有人都能盡情享受行動購物所以希望你提供的內容對每個人都適合，這代表不能有低俗的話語、散播仇恨的訊息或是廣告垃圾訊息等。在 TradeMuch 的社群環境下，我們希望買賣市場中的所有人都能友善對待彼此並尊重對方。TradeMuch 致力為你提供更順暢的交易體驗！
                br 
                h3(style='text-align:center') 你不應該這樣做
                hr
                ol.commodity
                  li
                    p
                       | 盜用他人資料
                       br
                       | 故意盜用他人資料來進行詐欺行為，嚴重違反 TradeMuch 的規定且可能被永久刪除帳號。若你要使用其他人的照片，請務必尊重對方的權利、並告知你的使用方式。
                    ul
                       li 
                         | 盜用的行為包含：
                         ul
                           li 未經許可，使用他人的資料(聯絡方式、照片)。
                           li
                             | 故意使用未誤導他人的使用者名稱(例如：TradeMuch 官方，PARAD 店鋪)。
                             | 若你發現任何惡意盜用他人資料的使用者，請與我們連絡
                  li
                    p
                       | 刊登盜版或山寨版商品
                       br
                       | 只有正版的商品可以在 TradeMuch 作上架。上架盜版商品是嚴格被禁止若已經侵犯了商標財產權，將有可能導致你的刑事責任。
                  li
                     p
                       | Posting services
                       br
                       | TradeMuch does not allow users to list their services on the platform.
                  li
                     p
                       | 退貨規定
                       br
                       | 賣家可以有自己的退貨規範，但是不應該違背 TradeMuch 的退貨規定。
                       
                p.auction
                   | TradeMuch 提供一個所有人都能透過行動裝置輕鬆上手的買賣平台，尊重買賣雙方，我們都能一起維護平台的交易安全。如果你有發現任何惡意違反規定的使用者，你可以隨時與 TradeMuch 團隊。
                   br
                   | 使用者(或違反規定的商品)。提醒你，若你檢舉了任何使用者(若商品)，我們仍會經過謹慎的審核流程後，才決定是否下架。隨時歡迎你聯絡我們，任何你的意見對我們來說非常寶貴！若你要一些關於 TradeMuch  APP 使用上的好點子及建議，都可以隨時與我們聯繫，讓我們一起創造出最棒的行動買賣平台！
                p(style='text-align: center;') TradeMuch 團隊歡迎你

    footer                    
      .container
       .row
         // Social Media icons
         .col-sm-6.text-center
           #rightsDescription
              a.socialMediaLink(href='/TermService') 服務條款
                a  |
              a.socialMediaLink(href='/PrivacyPolicy') 隱私權政策
                a  | 
              a.socialMediaLink(href='/Specification') 使用規範
         // Copyright             
         .col-sm-6.text-center.Information
           p © TradeMuch 2015
              
    script(src='styles/landing/css/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='styles/landing/css/bootstrap/dist/js/bootstrap.min.js')
    script(src='styles/landing/css/fotorama/fotorama.js')
    script(src='styles/landing/css/lightbox2/dist/js/lightbox.min.js', type='text/javascript')
    script(src='js/scrollyeah.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery.stellar/jquery.stellar.min.js', type='text/javascript')
    script(src='styles/landing/css/fitvids/jquery.fitvids.js', type='text/javascript')
    script(src='styles/landing/css/jquery-validation/dist/jquery.validate.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery-loadTemplate/jquery.loadTemplate-1.5.0.min.js', type='text/javascript')
