head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='author', content='Balakadesign')
  meta(name='description', content='TradeMuch')
  title TradeMuch
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='ico/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='ico/favicon.ico')
  link(rel='stylesheet', href='styles/mapCss/bootstrap-select.min.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/barnaul.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/phone.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/lightbox2/dist/css/lightbox.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/css/fotorama/fotorama.css', type='text/css')
  link(rel='stylesheet', href='styles/landing/scrollyeah.min.css', type='text/css')
  body(data-spy='scroll', data-target='.navbar-collapse', data-offset='76')
    section#header
      nav.navbar.navbar-barnaul
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#brn-navbar-collapse-1')
              //- span.batch.icon32 &#xF0AA;
              // Logo image
            a.navbar-brand(href='/public')
              img(src='img/tramuLogo.png', alt='Barnaul-logo', style="height: 45px;")
          #brn-navbar-collapse-1.collapse.navbar-collapse
              <ul class="nav navbar-nav">
              </ul>
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/public') Home
              li
                a(href='/app') Start
                
    section#brn-whowe
    .container
      // Section header
      header
        .row
          .col-100.term-h2
            // Don't forget to use span tag for center lines
            h2
              span 服務條款
          // /col-xs-12
        // /row
      // Section header end
      .row
        .col-100
         #text-content
          // Right Side Info
      p
        strong
      p
        strong 1.
        strong 引言
        strong
      p
        | 1.1 歡迎使用 TradeMuch  平台 (下稱「本網站」)。使用本網站或開設 TradeMuch  帳戶 (下稱「帳戶」) 前請詳細閱讀以下服務條款，以瞭解您對於樂購蝦皮有限公司、其關係企業及子公司 (個別及統稱為「 TradeMuch  」、「我們」或「我們的」) 的法律權利與義務。我們提供的服務（下稱「本服務」）包括 (a)
        | 本網站、(b) 本網站及透過本網站提供使用之 TradeMuch  用戶端軟體所提供的服務，以及 (c) 透過本網站或其相關服務所提供的所有資訊、連結網頁、功能、資料、文字、影像、相片、圖形、音樂、聲音、影片、訊息、標籤、內容、程式設計、軟體、應用程式服務 (包括但不限於任何行動應用服務)
        | (下稱「內容」)。本服務的任何新增或增強功能亦應受本服務條款的約束。這些服務條款規範您對於我們 TradeMuch  所提供之服務的使用行為。
      p
        | 1.2 本服務包含提供一個線上的消費者對消費者平台服務，以為買方 (「買方」) 與賣方 (「賣方」) (統稱「使用者」或「買賣雙方」)
        | 間的商品交易提供場所及機會。實際的銷售合約存在於買方及賣方之間， TradeMuch  不是該合約或買方與賣方其他合約之間的主體，且 TradeMuch  對這些合約均不承擔義務。買賣雙方將承擔有關其間銷售合約、商品刊登、購物擔保及類似事項之全部責任。 TradeMuch  不涉入使用者間之交易。 TradeMuch  不會預先篩選使用者或使用者所提供之內容或資訊。 TradeMuch  並不能確保使用者會確實完成交易。
      p
        | 1.3 在成為本網站的會員之前，您必須閱讀並接受本服務條款所包含、及連結至本服務條款之所有條款，且您必須同意隱私權政策（連結至本服務條款）中有關於處理您的個人資料之規定。
      p
        | 1.4
        |  TradeMuch  保留隨時變更、修改、暫停或中止本網站或服務一部或全部的權利。 TradeMuch  可能會以試用版發行某些服務或其功能，這些服務或功能可能無法正確運作或如同最終發行版本般運作，我們對這類情況不承擔任何責任。 TradeMuch  亦可依其單方考量，毋須通知或承擔責任，即對某些功能設定限制，或限制您存取部分或全部本網站或服務之權限。
      p
        | 1.5  TradeMuch  保留拒絕提供您存取本網站或服務之權限或允許您因任何原因開設帳戶之權利。
      p
        | 如您使用 TradeMuch  服務或開設帳戶，表示您不可撤回地接受與同意本協議之條款，包括本協議提及/或本協議超連結所提供的額外條款及政策。
      p
        | 如果您不同意這些條款，請勿使用我們的服務或存取本網站。如果您未滿 18
        | 歲或根據您所屬國家適用之法律規定得同意本協議之法定年齡（下稱「法定年齡」），您必須取得父母或法定監護人的許可方可開設帳戶，且該父母或法定監護人必須同意本協議的條款。如果您不確定是否已達到法定年齡，或不瞭解本條款所述內容，您應先尋求父母或法定監護人的協助及同意，方可開設帳戶。如果您是欲開設帳戶之未成年人的父母或法定監護人，您必須代表該名未成年人接受本協議的條款，並且承擔對本帳戶或公司服務之一切使用的責任，無論該帳戶目前已開設或稍後才會建立。
      p
        strong
      p
        strong
      p
        strong 2.
        strong 隱私權
        strong
      p
        | 2.1  TradeMuch  非常重視您的隱私權。為更有效地保護您的權利，我們特別在  TradeMuch  .com
        | 隱私權政策中詳細說明我們的隱私權作法。請審閱該隱私權政策，以瞭解 TradeMuch  如何收集並使用有關您的帳戶及/或您使用服務的資訊。如您使用本服務或在本網站提供資訊，即表示您同意讓 TradeMuch  根據隱私權政策所述方式收集、使用、揭露及/或處理您的內容和個人資料。
      p
        |  TradeMuch  
      p
        | 2.1 藉由使用本服務而持有其他使用者個人資料之使用者（下稱「接受方」）同意將(i) 遵守所有與該個人資料相關之個人資料保護法規；(ii) 允許被接受方收集個人資料之使用者（下稱「揭露方」）得自接受方之資料庫移除他/她的資料；以及(iii)
        | 允許揭露方檢視其被收集方收集之資料為何。在上述(ii)及(iii)之情形，遵守或依適用法規辦理。
      p
        strong
      p
        strong
      p
        strong 3.
        strong 有限授權
        strong
      p
        | 3.1  TradeMuch  授予您遵照本服務條款之條款與條件存取及使用本服務的有限且可撤回之權利。本網站中所顯示之所有專屬內容、商標、服務標章、品牌名稱、標誌及其他智慧財產（下稱「智慧財產」），均屬 TradeMuch  及本網站標示之第三方所有者 (如適用)
        | 的財產。我們並未直接或間接授予存取本網站的任一方使用或重製任何智慧財產的權利或授權，存取本網站的任一方均不得要求與其相關之任何權利、所有權或權益。使用或存取本服務即表示您同意遵守保護本服務、網站及其內容之著作權、商標、服務標章及所有其他適用的法律。您同意不得複製、散布、再發行、傳輸、公開展示、公開表演、修改、調整、租賃或販售本服務、網站或其內容之任何部分，亦不得據此創作衍生作品。如未事先獲得我們的書面同意，您亦不得用鏡像或框架方式將本網站的任何部分或完整內容放置於任何其他伺服器上或作為任何其他網站的一部分展示。此外，您同意如未事先獲得我們的書面同意（在搜尋網站使用標準的搜尋引擎技術引導網路使用者至本網站時，視為已取得我們的同意），您不會使用任何機器人程式、蜘蛛程式或任何其他自動裝置或手動程序來監視或複製我們的內容。
      p
        | 3.2 我們歡迎您從您的網站連結至本網站，但前提是您的網站並未暗示獲得 TradeMuch  的任何背書或與其有任何關聯。您瞭解 TradeMuch  可隨時依其單方考量中止提供本服務的任何部分，毋須另行通知。
      p
        strong
      p
        strong
      p
        strong 4.
        strong 軟體
        strong
      p
        | 我們作為服務之一部分提供給您的任何軟體，均須受本服務條款之規範約束。 TradeMuch  保留 TradeMuch  在此未明確授予的所有權利。任何本服務連結或引用的第三方指令碼或程式碼，均是由擁有該指令碼或程式碼的第三方 (而非 TradeMuch  ) 授權給您使用。
      p
        strong
      p
        strong
      p
        strong 5.
        strong 帳戶與安全
        strong
      p
        | 5.1 本服務的部分功能必須註冊帳戶方可使用，註冊帳戶時您需要選取一組獨特的使用者識別碼 (下稱「使用者 ID」) 和密碼，並提供一些個人資訊。如果您選擇的使用者 ID
        | 被 TradeMuch  單方認定是令人反感或不適當的， TradeMuch  有權暫停或終止您的帳戶。您可以使用您的帳戶來存取我們已啟用其存取權限或與我們有聯盟或合作關係的其他產品、網站或服務。 TradeMuch  未審核任何第三方內容、功能、安全、服務、隱私權政策或這些產品、網站或服務的其他規範，亦不對其承擔任何責任。如果您這麼做，則這些產品、網站或服務的服務條款，包括其各自的隱私權政策
        | (若與我們的服務條款及/或隱私權政策有所差異)，亦適用於您對這些產品、網站或服務之使用。
      p
        | 5.2 您同意 (a) 對您的密碼保密且只在登入時使用您的使用者 ID 與密碼，(b) 確保在每次網站使用階段結束時登出您的帳戶，(c) 在您的帳戶、使用者 ID 及/或密碼遭受未經授權的使用時立即通知 TradeMuch  ，以及(d) 確保你的帳號資訊正確且即時。您必須對在您的使用者 ID
        | 和帳戶下所發生的所有活動負完全的責任，即使您並非該活動或使用的執行者。對於任何因密碼遭到非授權使用或因您不遵循本條款而產生的損失或損害， TradeMuch  概不負責。
      p
        | 5.3 您同意 TradeMuch  可因任何原因，依其單方考量、毋須另行通知，亦不用對您或任何第三方負責，立即終止您的帳戶和您的使用者 ID，並將與您的帳戶和使用者 ID 有關的任何內容自本網站上移除。這類終止的理由包括但不限於：(a) 長時間不活動，(b) 違反本服務條款的文義和精神，(c)
        | 非法、詐欺、騷擾、誹謗、威脅或侮辱行為或 (d)
        | 有害於其他使用者、第三方或 TradeMuch  商業利益的行為。若您將帳戶用於非法、詐欺、騷擾、誹謗、威脅或侮辱之用途，我們可在未通知您的情況下向執法機關呈報。如果有任何與您的帳戶或您的使用本服務相關的法律爭議或執行行為，不論原因為何 TradeMuch  ， TradeMuch  得未經通知立即終止您的帳戶。
      p
        | 5.4 如果使用者想要終止其帳戶，可以書面方式 (包括透過電子郵件，請寄至：
        a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
        | ) 通知 TradeMuch  。即使帳戶已終止，使用仍應對任何未完成的交易
        |     (無論是在終止之前或之後展開的交易)、產品運送、支付產品款項或類似事宜負責，且使用者必須在其根據本服務條款迅速且有效地履行及完成所有未完成交易後，聯絡 TradeMuch  。對於根據本條款而採取之行動所產生的任何損害， TradeMuch  概不負責。使用者放棄任何及所有對 TradeMuch  所採取之任何這類行動的索賠。
      p
        | 5.4 您得使用本服務及/或開設帳戶，如您位於我們許可的國家之一：新加坡、馬來西亞、印尼、泰國、越南、菲律賓以及台灣。您不得自上述以外的國家購買、或向上述以外的國家銷售，或銷售來自上述以外的國家的產品。
      p
        strong
      p
        strong
      p
        strong 6.
        strong 使用條款
        strong
      p
        | 6.1 本網站和服務的使用授權在終止前皆有效。如發生本服務條款所載之終止事由或是您未遵循本服務條款之任何條款或條件的情況時，此授權將會終止。在這些情況下， TradeMuch  可不經通知逕行終止授權。
      p
        | 6.2 您同意不會：
      .blockquote
        p
          | (a) 上傳、張貼、傳送或以任何其他形式提供任何違法、傷害、威脅、侮辱、騷擾、危言聳聽、令人痛苦、扭曲、誹謗、粗俗、淫穢、詆毀、侵犯他人隱私、憎恨、種族歧視或在道德上或其他方面令人反感的內容；
        p
          | (b) 違反任何法律、第三方權利或我們的「
          a.hr(href='/prohibited') 違禁和限制物品政策
          | 」；
        p
          | (c) 以任何方式使用本服務傷害未成年人；
        p
          | (d) 使用本服務冒充任何人或實體，或虛報您與任何人或實體的關係；
        p
          | (e) 偽造標題或操弄識別方式，以混淆透過本服務傳送之任何內容的來源；
        p
          | (f) 從本網站上移除任何所有權標示；
        p
          | (g) 在未經 TradeMuch  明確許可的情況下，致使、准許或授權修改、創作衍生著作或翻譯本服務；
        p
          | (h) 為任何第三方之利益或非本條款授予許可的任何方式使用本服務；
        p
          | (i) 將本服務使用於詐欺用途；
        p
          | (j) 操控任何商品價格或干擾其他使用者的刊登行為；
        p
          | (k) 採取任何會破壞反饋或排名系統的行動；
        p
          | (l) 試圖解碼、反向工程、拆解或駭入本服務 (或其任何部分)，或試圖破解 TradeMuch  針對本服務及/或 TradeMuch  所傳輸、處理或儲存之資料所採取的任何加密技術或安全措施；
        p
          | (m) 採集或收集有關其他帳戶所有人的任何資訊，包括但不限於任何個人資料或資訊；
        p
          | (n) 上傳、以電子郵件寄送、張貼、傳送或以其他形式提供任何您依據任何法律或契約或信任關係(例如由於僱傭關係和依據保密合約所得知或披露之內部資訊、專屬及機密資料) 無權提供之內容；
        p
          | (o) 上傳、以電子郵件寄送、張貼、傳送或以任何其他形式提供侵害任一方之任何專利、商標、營業祕密、著作權或其他專屬權利的任何內容；
        p
          | (p) 上傳、以電子郵件寄送、張貼、傳送或以其他形式提供任何未經請求或未經授權的廣告、促銷資料、垃圾郵件、廣告信件、連鎖信、金字塔騙局或其他任何未經授權形式的推銷內容；
        p
          | (q) 上傳、以電子郵件寄送、張貼、傳送或以其他形式提供任何含有意圖直接或間接干擾、操縱、中斷、破壞或限制任何電腦軟體、硬體、資料或通訊設備功能或完整性之電腦病毒、蠕蟲、木馬或任何其他電腦代碼、常式、檔案或程式的資料；
        p
          | (r) 破壞正常的對話流程、造成螢幕快速捲動致使本服務其他使用者無法打字，或對其他使用者參加即時交流的能力造成負面影響；
        p
          | (s) 干擾、操縱或破壞本服務或與本服務連線之伺服器或網路或任何其他使用者對本服務之使用或享受，或不遵守本網站連線網路之任何規定、程序、政策或規範；
        p
          | (t) 採取或參與任何可能直接或間接造成本服務或與本服務連線之伺服器或網路損害、癱瘓、負載過重或效能降低的行動或行為；
        p
          | (u) 使用本服務以蓄意或非蓄意地違反任何適用的當地、州、國家或國際法律、規定、守則、指令、準則、政策或規範，包括但不限於任何與反洗錢或反恐怖主義相關的法律和規定 (無論是否具有法律效力)；
        p
          | (v) 以違反或規避由美國財政部外國資產管制辦公室、聯合國安全理事會、歐盟或其財政機關所主管或執行之處罰或禁運的方式使用本服務；
        p
          | (w) 使用本服務侵犯他人隱私、跟蹤或以其他方式騷擾他人；
        p
          | (x) 以前述禁止之行為和活動使用本服務以收集或儲存其他使用者之個人資料；及/或
        p
          | (y) 刊登侵犯第三方著作權、商標或其他智慧財產權的項目，或以侵害他人智慧財產權的方式來使用本服務。
      p
        | 6.3
        | 您瞭解所有內容，無論其為公開張貼或私下傳送，均為該內容提供者之責任。亦即，您應對您透過本網站上傳、張貼、以電子郵件寄送、傳送或以其他方式提供之所有內容負完全責任，而非 TradeMuch  。 TradeMuch  無法控制在本網站上張貼之內容，因此不保證這類內容之正確性、完整性或品質。您瞭解使用本網站時，您可能會接觸到具攻擊性、不雅或令人不悅之內容。在法律容許的最大限度內，在任何情況下， TradeMuch  均不為任何內容負責，包括但不限於任何內容之任何錯誤或遺漏，或您因使用或倚賴透過本網站張貼、以電子郵件寄送、傳送或以其他方式提供之內容而產生之任何形式的損失或損害。
      p
        | 6.4 您理解 TradeMuch  可能會或可能不會預先篩選內容，但是 TradeMuch  和其受託人有權 (但無義務) 依其單方考量預先篩選、拒絕、刪除或移動任何透過本網站提供的內容。 TradeMuch  和其受託人不受限於前述規定，有權移除任何 (i) 違反本服務條款的內容；(ii) 遭其他使用者投訴的內容；(iii)
        | 我們收到其侵害智慧財產權之通知或其他要求移除的法律指示之內容；或 (iv) 會造成他人反感的內容。此外，我們亦可能為了保護本服務或我們的使用者，或為了實行本條款與條件之規定，而封鎖進出本服務的通訊傳遞
        | (包括但不限於狀態更新、貼文、訊息及/或聊天室)。您同意您必須自行評估並承擔使用任何內容的所有相關風險，包括但不限於對於這類內容之正確性、完整度或實用性的倚賴。就此而言，您承認您並未，且在法律容許的最大限度內，不可倚賴由 TradeMuch  創作或提交予 TradeMuch  之任何內容，包括但不限於 TradeMuch  論壇中的資訊及本網站中的所有其他部分。
      p
        | 6.5 您承認、允許並同意，若依法律要求，或根據法院命令或對 TradeMuch  有管轄權之任何政府或監督主管機關之處分，或基於善意及誠信原則認有合理之必要性時， TradeMuch  得存取、保存及揭露您的帳戶資訊和內容，以：(a) 遵守法律程序；(b) 執行本服務條款；(c) 回應任何侵害第三方權利的內容之申訴；(d)
        | 回應您的客戶服務請求；或者 (e) 保護 TradeMuch  、其使用者及公眾的權利、財產或人身安全。
      p
        strong 7.
        strong 違反我們的服務條款
        strong
      p
        | 7.1 違反此政策可能導致一系列處分動作，包括但不限於下列任何或全部項目：
      p
        | - 刪除刊登商品
      p
        | - 限制帳戶權限
      p
        | - 中止帳戶及隨後終止
      p
        | - 刑事訴訟
      p
        | - 民事求償，包括但不限於請求損害賠償及/或聲請保全處分
      p
        | 7.2 如果您發現本網站的任何使用者違反本服務條款，請聯絡:
        a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
        | 。
      p
        strong
      p
        strong
      p
        strong 8.
        strong 侵害智慧財產權之申訴
        strong
      p
        | 8.1 如果您認為您的作品 (在本服務中) 遭到複製、展示或散布之情形已構成侵害智慧財產權之行為，請以書面方式通知我們：
        a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
        | 。
      p
        | 8.2 侵權申訴必須以書面提供，並確實附上下列所有資料：(a) 經被侵權之著作權人授權之代理人的實體或電子簽名；(b) 主張遭到侵害之著作的描述，以及該著作中哪些具體資料遭侵權的描述；(c) 侵權作品的確切名稱，以及其在本服務所在位置之敘述；（d)
        | 可讓 TradeMuch  聯絡到您的資訊，例如實際地址、電話號碼和電子郵件地址；(e) 您基於誠信，認為所投訴之資料使用方式未經著作權人或其代理人之授權或不合法之聲明；(f) 您聲明此通知所載之資訊均真實無誤，且您已獲授權得代理著作權人為此聲明（如您非著作權人），如有不實，願接受偽證罪之處罰。
      p
        strong
      p
        strong
      p
        strong 9.
        strong 購買與付款
        strong
      p
        | 9.1  TradeMuch  支援下列付款方式：
      p
        u
      p
        | (i) 
        u 信用卡
      p
        | 信用卡付款是透過第三方支付管道處理款項，而這些支付管道所接受的信用卡類型會因您所在的管轄地不同而有差異。
      p
        u
      p
        | (ii) 
        u 銀行轉帳
        u
      p
        | 買方可透過自動提款機或網路銀行轉帳 (下稱「銀行轉帳」) 將款項匯入我方指定的 TradeMuch  履約保證帳戶 (如第 10 條所定義)。買方必須透過 TradeMuch  應用程式中的「上傳收據」功能，向 TradeMuch  提供轉帳單據或付款交易參考，以供查驗。如果 TradeMuch  未在三天內收到付款確認，將會取消買方訂單。
      p
        u
      p
        | (iii) 
        u 離線交易
        u
      p
        | 買方可選擇以離線方式直接向賣方下訂單 (下稱「離線交易」)。然而，這類離線約定將無法享有 TradeMuch  履約保證之保障。
      p
        | 9.2 買方只能在付款前變更付款方式。
      p
        | 9.3 買方在支付購物款項時，因其輸入之運送資訊及/或付款資訊有誤，或因其匯款錯誤而導致的任何損失或損害， TradeMuch  概不負責，亦不會就此承擔任何責任。我們有權查核買方是否具備使用特定付款方式之充分授權，並可在授權獲得確認之前暫停交易，或在未能獲得確認的情況下取消相關交易。
      p
        strong
      p
        strong
      p
        strong 10.
        strong  TradeMuch  履約保證
        strong
      p
        | 10.1  TradeMuch  履約保證是 TradeMuch  提供的一項購物保障服務。為提供責任風險之保障，藉由使用本服務而支付給賣方的購物款項將由 TradeMuch  保管於本公司資金帳戶以外的一個獨立帳戶 (下稱「 TradeMuch  履約保證帳戶」)
        | 中， TradeMuch  不會將這些款項用於公司的營運開銷或任何其他公司用途。對於您支付到 TradeMuch  履約保證帳戶中的款項，賣方不會收取利息或其他收益。
      p
        | 10.2 買方支付其訂單款項 (下稱「買方購物金額」) 後，買方購物金額將保留於 TradeMuch  履約保證帳戶中，直到：
      p
        | (a) 買方提供已收到其訂購商品之確認予 TradeMuch  ，於此種情形，除非有第10.2 (d)條之適用， TradeMuch  會將保管於 TradeMuch  履約保證帳戶中的買方購物金額支付給賣方；
      p
        | (b)  TradeMuch  履約保證期間(或於依第 10.3 條展延之期間) 屆滿，於此種情形，除非有第10.2 (c)條或第10.2 (d)條之適用， TradeMuch  會將保管於 TradeMuch  履約保證帳戶中的買方購物金額支付給賣方；
      p
        | (c)  TradeMuch  認定買方退還商品及/或退款之申請應通過時，於此種情形，除非有第10.2 (d)條之適用， TradeMuch  將根據退款與退貨政策提供退款予買方；
      p
        | (d) 在其他情形 TradeMuch  合理認定對於買方購物金額適當之處置，包含但不限於其為符合適用之法律、法院命令或為實行本服務條款而合理認為有必要之處置。
      p
        |  TradeMuch  履約保證僅適用於透過 TradeMuch  提供之管道付款至 TradeMuch  履約保證帳戶的買方。買方與賣方之間的離線交易，不在 TradeMuch  履約保證之範圍內。
      p
        | 10.3 透過 TradeMuch  管道支付的款項將會保管於 TradeMuch  履約保證帳戶中一段特定時間 (下稱「 TradeMuch  履約保證期間」)。如需 TradeMuch  履約保證期間的詳細資訊，請按
        a.hr(href='/guarantee-period') 此連結
        |     。買方可在適用之 TradeMuch  履約保證期間屆滿前，申請延長 TradeMuch  履約保證期間一次（受限於且應根據退款與退貨政策）。買方完成申請後，除非 TradeMuch  根據其單方考量決定更長的延展期間較為適當或必要外， TradeMuch  履約保證期間可最多延長三天。
      p
        | 10.4 賣方必須是帳戶的權益擁有人，並且只能代表他或她本人來經營生意。 TradeMuch  得要求賣方提供個人資料，如近期身分證件照片、銀行帳戶詳細資料及/或任何其他此類必要文件，以供查驗之用。賣方茲授權 TradeMuch  使用賣方的個人資料向適當主體 (如賣方的銀行)
        | 進行我方認為必要之賣方身分驗證程序。有關 TradeMuch  如何處理您個人資料的詳細資訊，請瀏覽我們的
        a.hr(href='/privacy') 隱私權政策頁面
        | 。
      p
        | 10.5  TradeMuch  履約保證是附加且未限制買方及賣方在所適用法律下的義務，該法律義務可能高於 TradeMuch  履約保證。 TradeMuch  履約保證既無意圖亦未被設計用於協助買方或賣方遵守其法律義務，其仍就該法律義務自行負責，且 TradeMuch  不承擔與該法律義務有關之責任。除此之外， TradeMuch  履約保證不構成產品擔保。
      p
        strong
      p
        | 10.6 買方及賣方知悉且同意 TradeMuch  有關 TradeMuch  履約保證之決定（包含任何要求）是最終的。
      p
        strong
      p
        strong
      p
        strong 11.
        strong 運送
        strong
      p
        | 11.1  TradeMuch  會在 TradeMuch  收到買方購物金額時通知賣方。賣方應在收到此通知之後進行必要的安排，將購買商品運送給買方，並透過本網站向買方提供如貨運公司名稱及追蹤號碼等細節。
      p
        | 11.2 賣方必須盡力確保買方能夠在是用之 TradeMuch  履約保證期間內，或賣方所刊登之指定時間 (如為離線付款) 內收到購買的商品。
      p
        strong
      p
        strong
      p
        strong 12.
        strong 取消、退貨與退款
        strong
      p
        | 12.1 買方只有在尚未支付買方購物金額至 TradeMuch  履約保證帳戶之前，才能取消訂單。
      p
        | 12.2 買方可在 TradeMuch  履約保證期間 (如適用) 屆滿前，根據退款與退貨政策申請退貨及退款。如需詳細資訊，請參閱 TradeMuch  的
        a.hr(href='/refunds') 退款與退貨政策
        | 。
      p
        | 12.3  TradeMuch  不會監控離線付款的取消、退貨及退款流程。
      p
        strong 13.
        strong 賣方責任
        strong
      p
        | 13.1 賣方應妥善管理並確保其刊登之商品相關內容是最新資訊，如商品價格和詳細資訊、庫存數量、銷售條款與條件等，不應張貼不正確或誤導之資訊。
      p
        | 13.2 銷售商品的價格由賣方自行決定。商品價格和運費應包含在向買方收取的總金額之內 ，包含營業稅、增值稅、關稅等，賣方不應額外且另外向買方收取這類費用。
      p
        | 13.3 賣方同意 TradeMuch  得依其單方考量決定為賣方或代表賣方，透過降價、折扣、退費或其他方式來進行促銷活動，以促進買方與賣方之間的交易。買方實際支付的最終價格將會是適用這類調整之後的價格。
      p
        | 13.4 為了促銷賣方所刊登之商品， TradeMuch  可能會在第三方網站 (如入口網站和比價網站) 及由 TradeMuch  經營的其他 (國內或國外) 網站上 (以調整後的價格) 張貼這些商品。
      p
        | 13.5 應買方要求，賣方必須提供收據、信用卡簽單或稅務發票給買方。
      p
        | 13.6 賣方知悉並同意，若賣方違反任何 TradeMuch  政策，願接受條款第 7.1 條所述的一系列處分動作。
      p
        strong 14.
        strong 費用 
      p
        | 14.1 除非另有說明，否則 TradeMuch  不會向使用者收取本網站的使用費。
      p
        | 14.2 如有應付費用則將包含服務稅/增值稅及其他適用稅項。除非雙方另有約定，賣方應承擔前述稅費。賣方知悉並同意， TradeMuch  可從買方支付的購物金額中扣除其費用及任何適用稅項。如應賣方要求， TradeMuch  應提供賣方所支付之費用和稅項的收據或稅務發票。
      p
        strong
      p
        strong
      p
        strong 15.
        strong 爭議 
        strong
      p
        | 15.1 在交易發生問題時， TradeMuch  鼓勵使用者之間互相溝通。由於 TradeMuch  只是一個供使用者進行交易的平台，因此買方如有任何與購買商品有關的問題，應直接聯絡賣方。或者，使用者可尋求其當地有管轄權的爭議處理機關的協助，以解決交易中發生的任何糾紛。
      p
        | 15.2 使用者若享有 TradeMuch  履約保證，可透過書面方式請求 TradeMuch  協助解決交易中發生的問題。 TradeMuch  得依其單方考量決定採取所有必要步驟，以協助使用者解決糾紛，但 TradeMuch  並不因此而對賣方與買方承擔任何責任。如需詳細資訊，請參閱 TradeMuch  的    
        a.hr(href='/refunds') 退款與退貨政策
        | 。
      p
        | 15.3 明確而言，本條款所提供的服務僅提供予享有 TradeMuch  履約保證的買方。使用其他付款方式進行購買的買方，則應直接與賣方聯繫。
      p
        strong 16.
        strong 意見反應
        strong
      p
        | 16.1  TradeMuch  歡迎使用者提供我們任何資訊和意見，協助 TradeMuch  改善服務品質。詳情請參閱下方的投訴程序：
      p
        | (i) 若要投訴，請以書面方式透過電子郵件寄送，或使用應用程式中的意見表傳送給我們。
      p
        | (ii) 匿名投訴將不予受理。
      p
        | (iii) 遭投訴的使用者應被充分告知所有事實，並給予表達意見的機會。
      p
        | (iv) 含糊其詞及詆毀性的投訴將不予受理。
      p
        strong
      p
        strong
      p
        strong 17.
        strong 免責聲明
        strong
      p
        | 17.1
        | 本服務係依現況現狀提供， TradeMuch  對於本服務不作任何明示、暗示或法定的擔保、主張或聲明，包括但不限於對於品質、效能、無侵權、適售性或特定用途適用性之擔保，或因交易過程、按慣例或行業常規而衍生之擔保。在不受限上述條款之前提下，且在法律容許的最大限度內， TradeMuch  不保證提供本服務、本網站或其中所含功能，或該服務、網站或功能可被存取、不會中斷、及時提供、安全可靠、正確、完整或無錯誤；且如有瑕疵
        | (如有) 會被更正；不保證本網站及/或本網站伺服器完全沒有任何病毒、時鐘、計時器、計數器、蠕蟲、軟體鎖、致死裝置、木馬、路由、陷阱門、定時炸彈或任何其他有害之程式碼、指令、程式或元件。
      p
        | 17.2 您承認在法律容許的最大限度內，您個人應承擔使用本網站及/或本服務或其效能之全部相關風險。
      p
        strong
      p
        | 17.3
        |  TradeMuch  並未控制，且在法律容許的最大限度內，也不為下列事項提供保證或接受任何責任：(A)經由本服務提供之商品之適用於特定目的、存在、品質、安全性或合法性；或(B)賣方販賣商品的能力或買方付款的能力。如爭議涉及一位或多位使用者，該使用者同意在他們之間直接解決此爭議，且在法律容許的最大限度內，免除 TradeMuch  及其關係企業任何及所有此爭議所導致或與其相關之主張、要求及損害。
      p
        strong
      p
        strong
      p
        strong 18.
        strong 責任排除及限制
        strong
      p
        | 18.1 在法律容許的最大限度內，無論是根據合約、擔保、侵權 (包括但不限於疏失 (不論是積極、消極或歸咎)、產品責任、嚴格責任或其他理論)
        | 或其他法律訴訟因由、衡平法、法律規定或其他， TradeMuch  對於因使用或無法使用本網站或服務，所造成之包含但不限於由此造成的任何下列損害，一律概不負責，即使 TradeMuch  已知悉發生此類損害之可能性亦然：
      p
        | 18.1.1 直接或間接(A)喪失使用；(B)喪失利潤；(C)喪失營收；(D)喪失資料；(E)喪失商譽；或(F)未能實現預期儲蓄；或
      p
        | 18.1.2 任何間接、附帶、特殊或衍生性之損害。
      p
        | 18.2 您知悉並同意，對於本服務之任何問題或不滿，您的唯一權利是要求終止您的帳戶及/或停止繼續使用本服務。
      p
        strong
      p
        | 18.3 儘管有前述約定，如 TradeMuch  被有管轄權之法院判決確定有責任，包含重大過失之情形，在法律容許的最大限度內， TradeMuch  對你或任何第三人之責任僅限於：(A)根據 TradeMuch  履約保證任何到期且應支付給您的金額；或(B)100新加坡幣，以其中金額較低者為準。
      p
        strong
      p
        | 18.4 本服務協議並未限制或排除任何因 TradeMuch  過失所導致之個人身體損傷、詐欺或任何其他 TradeMuch  依法不得限制或排除之責任。
      p
        strong
      p
        strong
      p
        strong 19.
        strong 第三方網站連結
        strong
      p
        | 本網站上所提供之第三方連結將會帶您離開本網站。這些連結只是基於方便而提供，其連結之網站不受 TradeMuch  的控管，因此您應自行承擔存取這些網站的風險。因此，對於任何這類連結網站的內容或連結網站中所含之任何連結
        | (包括這類網站之任何變動或更新)， TradeMuch  概不負責。 TradeMuch  只是基於您使用方便而提供這些連結，提供任何連結並不默示或明示 TradeMuch  與任何連結網站及/或其任何內容有關聯、保證或贊助關係。
      p
        strong
      p
        strong
      p
        strong 20.
        strong 您提交給本服務之內容
        strong
      p
        | 20.1
        | 藉由提交內容供本服務刊登，即表示您聲明並保證您擁有所有必要的權利及/或許可，可給予 TradeMuch  以下授權。您亦知悉並同意，您應對您透過本服務所張貼或以任何其他方式提供之任何內容負完全責任，包括但不限於任何提供內容的正確性、可靠性、性質、無權利負擔，以及法律和法定限制之合規性。您在此授予 TradeMuch  及其承繼人永久的、不可撤銷、全球性、非獨佔、免權利金、可再授權並可轉讓的授權，以供其在、經由本服務或與本服務相關之任何媒體格式，及透過任何媒體管道，使用、複製、散布、再發行、傳輸、修改、改編、創作衍生作品、公開展示及公開表演該內容，包括但不限於推廣及重新散布本服務的部分
        | (及其衍生作品)，且 TradeMuch  不需要提及您且您同意放棄主張任何人格權及於其他國家之任何類似權利。您瞭解您提交之內容可能會在多個不同網路上傳送，並可能為了遵守及配合技術要求而進行變動。
      p
        | 20.2
        | 對於您在本服務上或透過本服務張貼或以其他方式傳送給 TradeMuch  的任何材料、資訊或想法(各別稱為一個「提交」)， TradeMuch  不會將其視為機密內容，並可由 TradeMuch  基於任何目的而進行傳播或使用，包括但不限於開發、製造及行銷產品，並且 TradeMuch  對您無需承擔任何補償義務。當您提交給 TradeMuch  ，即表示您知悉並同意 TradeMuch  及/或其他第三方可獨立開發與您提交所述概念具有相同或類似功能、程式碼或其他特性的軟體、應用程式、介面、產品及其修訂和增強版本。因此，您在此授予 TradeMuch  及其承繼人永久的、不可撤銷、全球性、非獨佔、免權利金、可再授權並可轉讓的授權，以供其在、經由本服務或與本服務相關之任何媒體格式，及透過任何媒體管道開發上述項目，以及使用、複製、散布、再發行、傳輸、修改、改編、創作衍生作品、公開展示及公開表演任何提交內容，包括但不限於推廣及重新散布本服務的部分
        | (及其衍生作品)。本條款不適用於受到我方隱私權政策規範的個人資訊，除非您在本服務上或透過本服務公開提供該個人資訊。
      p
        strong
      p
        strong
      p
        strong 21.
        strong 第三方提交給本服務之內容與外部連結
        strong
      p
        | 21.1
        | 提交資料、文字、影像、聲音、影片、軟體及其他內容給本服務的每位提供者，應對其提交內容之正確性、可靠性、性質、無權利負擔及法律和法定限制之合規性負完全責任。同樣， TradeMuch  不負責亦不應定期監控或檢查任何提交內容之正確性、可靠性、性質、無權利負擔、法律和法定限制之合規性。您對於任何使用者之作為或不作為，包含但不限於其透過本服務張貼或以其他形式提供之內容，將不要求 TradeMuch  負責。
      p
        | 21.2
        | 此外，本服務可能包含第三方產品、網站、服務與方案之連結。這些第三方連結、產品、網站與服務並非由 TradeMuch  所有或控管，而是由第三方各自經營並為其所屬財產，且可能受到適用之著作權或其他智慧財產法律和條約之保護。這些第三方內容、功能、安全、服務、隱私權政策或其他規範均未經 TradeMuch  審核， TradeMuch  亦不對其承擔任何責任。我們建議您詳閱這些第三方在其網站或以其他方式提供的條款與其他政策。當您使用本服務，即表示您同意 TradeMuch  無需為您因使用或無法使用任何網站或網頁功能而承擔任何責任。您亦知悉並同意，若本服務上的任何第三方連結或應用程式違反本服務條款時， TradeMuch  得停止您的使用或移除之。
      p
        strong
      p
        strong 22.
        strong 您的聲明與擔保
        strong
      p
        | 您聲明並保證：
      .blockquote
        p
          | (a) 您擁有簽訂本服務條款並遵守其條款的法律權限 (如為未成年人，則需獲得父母或法定監護人的同意)、權利及能力；並且
        p
          | (b) 您僅會基於合法目的使用本服務，並會遵守本服務條款及所有適用法律、規定、守則、指令、準則、政策及規範。
      p
        strong 23.
        strong 擔保
        strong
      p
        | 您同意擔保 TradeMuch  及其股東、子公司、關係企業、董事、經理人、代理人、聯名廠商或其他合作夥伴及員工 (以下統稱「受擔保方」)及為其抗辯，使其免於承擔因下列事由所導致或相關之任何主張、行動、程序及訴訟，以及所有相關責任、損害、違約金、罰鍰、成本及費用 (包括但不限於合理的律師費及其他糾紛調解費用)：（a）
        |  TradeMuch  履約保證；（b） 由 TradeMuch  或代 TradeMuch  主持、營運、管理及/或監督本服務；(c) 您違反或觸犯本服務條款的任何條款，或本服務條款所提及的任何政策或準則；(d) 您使用或濫用本服務的行為；或（e）您違反法律或侵害任何第三人權利。
      p
        strong
      p
        strong
      p
        strong 24.
        strong 可分割性
        strong
      p
        | 如果本服務條款中有任何約定根據管轄法律應被認定為不合法、無效或因任何原因無執行力，則該項約定應當視為與其他條款與條件分離，並且不影響任何其餘約定在該管轄地中的有效性和執行力，亦不影響該有疑義之規定在任何其他管轄地之有效性和執行力。
      p
        strong 25.
        strong 準據法
        strong
      p
        | 本服務條款應以新加坡法律作為準據法並據此解釋，且不適用法律衝突原則。對於「聯合國國際貨物銷售合同公約(United Nations Convention on Contracts for the International Sale of Goods) 」及「統一電腦資訊交易法案(Uniform
        | Computer Information Transaction Act)」，在法律允許的程度內，均不適用。因本服務條款引起或與其有關之針對 TradeMuch  或受擔保方，或與其相關的任何爭議、爭論、主張或任何歧見，應提交新加坡之仲裁機關，依據當時有效之「新加坡國際仲裁中心仲裁規則」 (Arbitration
        | Rules of the Singapore International Arbitration Centre，簡稱「SIAC規則」，此引用視為已將SIAC規則納入本條約定) 進行最終解決。仲裁將由一名仲裁員以英文進行。
      p
        strong 26.
        strong 一般規定
        strong
      p
        | 26.1  TradeMuch  保留在本協議未明文授予的所有權利。
      p
        | 26.2  TradeMuch  得隨時透過在本網站上公布修訂版服務條款的方式修改本服務條款之內容。當您在修訂版公布後繼續使用本網站，即視為您接受這個修訂版服務條款。
      p
        | 26.3 您不得轉讓、再授權或轉移此處授予您的任何權利，或複委任任何義務。
      p
        | 26.4 本服務條款中的任何約定不得解讀為您與 TradeMuch  之間的合夥、合資關係或主要代理人關係，亦未授權您得代表 TradeMuch  產生任何費用或責任。
      p
        | 26.5  TradeMuch  在任何時候如未能要求履行本條款的任何約定，除非已以書面方式放棄該權利，否則不影響其日後要求履行此約定的權利。
      p
        | 26.6 除 TradeMuch  的關係企業與子公司 (及 TradeMuch  及其關係企業及子公司各別的承繼人和受讓人) 外，本服務條款僅為您及我們的利益而訂立，而非為任何其他個人或法律實體之利益而訂立。
      p
        | 26.7
        | 本服務條款中所載的條款，以及本服務條款中所包含或引用的任何協議及政策，均構成雙方就本服務及本網站全部的協議與共識，並取代任何雙方先前就相同事項之協議與共識。雙方茲同時排除所有默示約定。在雙方訂定本服務協議所約定之條款時，並未根據本服務協議明文約定以外之由任何人提供的聲明、保證、擔保、共識、承諾或確認。任一方不可撤回地且無條件地，放棄所有若非本條款之約定而可能發生之主張、權利及賠償，本服務協議不得根據任何先前的協議、任何同時存在的口頭協議，或任何一致的附加條款予以否定、解釋或補充。
      p
        | 26.8 您同意遵守所有與反貪腐相關的法律、條文、規定及準則，包含但不限於英國賄賂法案（UK Bribery Act）、美國海外貪腐防治條例（US Foreign Corrupt Practices Act）以及新加坡防治貪腐法案（Singapore Prevention of Corruption
        | Act），並確認您已採取且應採取所有必須之政策及程序以確保遵守前述規範。
      p
        | 26.9 若您對本服務條款，或對本服務條款或本網站所衍生之任何問題有疑問或疑慮，請聯絡我們： 
        a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
      p
        | 請將所有法律通知寄到：
        a.hr(href='mailto:william@trunk-studio.com') william@trunk-studio.com
        | ，並指明收件人為「法務長」。
      p
        | 我已閱讀此份協儀，並同意以上所載的所有約定及其日後之任何修訂內容。當按下下方的「註冊」或「連結 FACEBOOK」按鈕，即表示我瞭解我正在進行數位簽名，其與手寫簽名具有同等效力。

                
    footer                    
      .container
       .row
         // Social Media icons
         .col-sm-6.text-center
           #rightsDescription
              a.socialMediaLink(href='/termService') 服務條款
                a  | 
              a.socialMediaLink(href='/privacyPolicy') 隱私權政策
                a  | 
              a.socialMediaLink(href='/specification') 使用規範
         // Copyright             
         .col-sm-6.text-center.Information
           p © TradeMuch 2015
              
    script(src='styles/landing/css/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='styles/landing/css/bootstrap/dist/js/bootstrap.min.js')
    script(src='styles/landing/css/fotorama/fotorama.js')
    script(src='styles/landing/css/lightbox2/dist/js/lightbox.min.js', type='text/javascript')
    script(src='js/scrollyeah.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery.stellar/jquery.stellar.min.js', type='text/javascript')
    script(src='styles/landing/css/fitvids/jquery.fitvids.js', type='text/javascript')
    script(src='styles/landing/css/jquery-validation/dist/jquery.validate.min.js', type='text/javascript')
    script(src='styles/landing/css/jquery-loadTemplate/jquery.loadTemplate-1.5.0.min.js', type='text/javascript')
