.bold {
  font-weight: 900;
}
.black {
  color: #000;
}
.top {
  top: 0;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.right {
  right: 0px;
}
.left {
  left: 0px;
}
.gone{
  display: none;
}
.text-left{
  text-align: left;
}
.hide{
  display: none !important;
  opacity: 0;
}
